input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search-btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  /* background-color: #005493 !important;
  color: white !important; */
}