.company-card-content {
  list-style: none;
  background-color: #f7f7f7;
  margin-top: 3vh;
  border-radius: .4rem;

  padding: 1rem 1rem;
}

.card-link {
  color: #404040;
  text-decoration: none;
}

.company-card-content a:hover{
  text-decoration: none;
  color: #234790;
}

.name {
  margin-top: .4rem;
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 1rem;
  font-weight: 500;
}

.logo {
  width:50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: 8px;
}

.description {
  clear: right;
  line-height: 1.5;
}
