/*
 * A mobile first & responsive navigation using progressive enhancement approach for cross-browser compatibility
 * Uses flexbox when supported
 */

nav a:hover {
  text-decoration: none;
  color: #FFF;
}

 .Navigation {
  padding: .5rem 1rem;
  text-align: right;
}

/* Hide the brand logo for large devices */
.nav-item-link.nav-brand.large-devices {
  display: none;
}

.nav-item-link {
  display: block;
  text-decoration: none;
  font-size: .8rem;
  padding: 0 .5rem;
  padding: .2rem .5rem;
  letter-spacing: 2px;
  color: #FF7400;

  /* border: 1px solid blue; */
}

.nav-brand {
  float: left;
  position: relative;
  bottom: 3px;
  right: 10px;
  background-color: #FF7400;
  color: #FFF;
  padding: .6rem 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.1rem;
  text-align: center;
}

/* If browser supports display: flex, render these properties */
@supports (display: flex) {
  .link-collection {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  .nav-item-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-brand {
    justify-content: center;
  }
}

/* Updates for larger devices */

@media screen and (min-width: 568px), (orientation: landscape) {
  /* Hide the brand logo for large devices */
  .nav-item-link.nav-brand.small-devices {
    display: none;
  }

  /* Display the brand logo for large devices */
  .nav-item-link.nav-brand.large-devices {
    display: inline-block;
  }

  .nav-item {
    display: inline;
  }

  .nav-item-link{
    display: inline;
  }

  .nav-brand {
    display: inline-block;
    float: none;
    position: initial;
    bottom: initial;
  }

  /* If browser supports display: flex, render these properties */
  @supports (display: flex) {
    .link-collection {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .nav-item-link{
      display: flex;
    }
  }
}

@media screen and (min-width:576px) {
  .nav-item {
    font-size: 1rem;
  }

  .nav-brand {
    height: 45px;
    width:45px;
    font-size: 1.3rem;
  }

  .btn-container {
    padding-top: 20%;
  }
}

@media screen and (min-width: 768px) {
  .nav-item-link {
    font-size: 1.1rem;
  }

  .nav-brand {
    padding: .5rem 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-item-link {
    font-size: 1.2rem;
  }

  .nav-brand {
    height: 50px;
    width: 50px;
    font-size: 1.7rem;
  }
}