nav {
  background-color: white;
  color: #0091ff;
  border-bottom: 1px solid #d9d9d9;
}

nav a {
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
}

nav a:visited {
  color: #0091ff;
}

nav a:hover {
  text-decoration: none;
  color: #005493
}

