/* A mobile frist responsive design */

.search-form {
  width: 100%;
  padding: .8rem 0;
  display: inline-block;
}

.search-input {
  width: calc(100% - 99px);
  padding: .4rem .8rem;
  border: 1.5px solid transparent;
  border-radius: .4rem;
  margin: 0 .4rem;
  line-height: 1.8rem;
}

.search-input:focus {
  border-color: #70FFFF;
  outline: 0;
}

.button-search {
  width: 70px;
  display: inline-block;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: .7rem .5rem;
  border: 2px solid #00FFFF;
  background-color: #00FFFF;
  color: rgb(52, 48, 47);
  outline-color: #A4FFFF;
}